body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(131, 184, 243);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
}

.form .form-group {
    margin-bottom: 20px;
}

input[type=text],
input[type=password] {
    width: 300px;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 2px solid #5e676e;
    outline: none;
    padding-left: 10px;
    margin-top: 3px;
}

input[type=submit] {
    background-image: linear-gradient(180deg, #0186fa ,#013766);
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 5px 10px ;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
}

.msg {
    width: 316px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}